**/.db-data
**/.redis-data
**/.github

**/cert
**/dist
**/generated
**/node_modules
**/test

**/.editorconfig
**/.env*
**/.eslintignore
**/.eslintrc.js
**/.gitignore
**/.nvmrc
**/.npmrc
**/.prettierignore
**/.prettierrc
**/docker-compose.yml
**/Dockerfile
**/README.md
**/rpitv_glimpse_logo.png
**/npm-debug.log
