.content.plain-layout {
  padding-top: 5em;
}

.background-shape.plain-layout {
  opacity: 0;
  position: absolute;
  top: -10vh;
  left: 0;
}

/* Computer displays */
@media (min-width: 800px) {
  .main-logo.plain-layout {
    max-width: 200px;
    transform: translateY(-1vh);
  }
}

.router-page.plain-layout {
  top: 4em;
  min-height: calc(100vh - 4em + 23em);

}
/* Not sure why this is 555px and not 500px. Look at the cols prop on n-grid in Footer.vue */
@media(max-width: 555px) {
  .router-page.plain-layout {
    min-height: calc(100vh - 4em + 46em);
  }
}
