@import url("https://fonts.googleapis.com/css?family=Ubuntu:wght@300;400|Oswald:wght@200;300;400&display=swap");

h1,
h2,
h3,
h4,
h5,
h6,
nav {
  font-family: "Oswald", sans-serif;
}

html {
  font-family: "Ubuntu", sans-serif;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  position: relative;
  font-weight: normal;
}


body {
  margin: 0;
  color: white;
}

html {
    background-color: #0c0f12
}
